<div id="burguerSelection">
  <form action="#">
    <input type="radio" id="PobreMaria" name="burguer" value="Pobre Maria">
    <label for="PobreMaria">Pobre Maria</label><br>
    <input type="radio" id="TipoMequi" name="burguer" value="Tipo Mequi">
    <label for="TipoMequi">Tipo Mequi</label><br>
    <input type="radio" id="Chorona" name="burguer" value="Chorona">
    <label for="Chorona">Chorona</label><br>
    <input type="radio" id="Bagaceira" name="burguer" value="Bagaceira">
    <label for="Bagaceira">Bagaceira</label><br>
    <input type="radio" id="Atrevida" name="burguer" value="Atrevida">
    <label for="Atrevida">Atrevida</label><br>
  </form>
</div>