<div id="orderDetails">
  <!-- <button onclick="removeOrderDetails()">X</button> -->
  <!--method get no forms revela os inputs como query params na url (ruim) melhor usar o post, em que os dados vai dentro da requisicao-->
  <form>
    <div class="burguerInput">
      <input type="radio" id="PobreMaria" name="burguer" value="POBRE MARIA">
      <label class="burguerLabel" for="PobreMaria">Pobre Maria</label><br>
      <input type="radio" id="TipoMequi" name="burguer" value="TIPO MEQUI">
      <label class="burguerLabel" for="TipoMequi">Tipo Mequi</label><br>
      <input type="radio" id="Chorona" name="burguer" value="CHORONA">
      <label class="burguerLabel" for="Chorona">Chorona</label><br>
      <input type="radio" id="Bagaceira" name="burguer" value="BAGACEIRA">
      <label class="burguerLabel" for="Bagaceira">Bagaceira</label><br>
      <input type="radio" id="Atrevida" name="burguer" value="ATREVIDA">
      <label class="burguerLabel" for="Atrevida">Atrevida</label><br>
    </div>
    <p>Batatas?</p>
    <input type="radio" id="ComBatataPequena" name="batatas" value="COM BATATA PEQUENA" required>
    <label for="ComBatataPequena">Batata pequena<span>8</span></label><br>
    <input type="radio" id="ComBatataMedia" name="batatas" value="COM BATATA MÉDIA">
    <label for="ComBatataMedia">Batata média<span>13</span></label><br>
    <input type="radio" id="ComBatataGrande" name="batatas" value="COM BATATA GRANDE">
    <label for="ComBatataGrande">Batata grande<span>16</span></label><br>
    <input type="radio" id="SemBatata" name="batatas" value="SEM BATATA">
    <label for="SemBatata">Sem batata</label><br>
    <p>Bebida?</p>
    <input type="radio" id="coca" name="bebida" value="COCA-COLA" required>
    <label for="coca">Coca-cola<span>6</span></label><br>
    <input type="radio" id="guarana" name="bebida" value="GUARANÁ">
    <label for="guarana">Guaraná<span>5</span></label><br>
    <input type="radio" id="fanta" name="bebida" value="FANTA">
    <label for="fanta">Fanta laranja<span>5</span></label><br>
    <input type="radio" id="schweppes" name="bebida" value="SCHWEPPES">
    <label for="schweppes">Schweppes<span>5</span></label><br>
    <input type="radio" id="nenhuma" name="bebida" value="NENHUMA">
    <label for="nenhuma">Nenhuma</label><br>
    <p>Alguma observação?</p>
    <textarea name="observação" id="observação" class="inputText" cols="30" rows="5" placeholder="Ex: Tirar a cebola, ponto da carne etc" maxlength="150"></textarea>
    <!-- <input type="text" name="observação" id="observação" class="inputText" rows="3" placeholder="Ex: Tirar a cebola, ponto da carne etc"> -->
    <p>Qual é o seu nome?</p>
    <input type="text" name="nome" class="inputText" autocomplete="off" id="nameInput" required>
    <p>Qual é o seu bloco?</p>
    <input type="radio" id="a" name="bloco" value="A" required>
    <label class="horizontalRadioLabel" for="a">A</label>
    <input type="radio" id="b" name="bloco" value="B">
    <label class="horizontalRadioLabel" for="b">B</label>
    <input type="radio" id="c" name="bloco" value="C">
    <label class="horizontalRadioLabel" for="c">C</label>
    <input type="radio" id="d" name="bloco" value="D">
    <label class="horizontalRadioLabel" for="d">D</label>
    <input type="radio" id="e" name="bloco" value="E">
    <label class="horizontalRadioLabel" for="e">E</label>
    <p>Qual é o seu apartamento?</p>
    <input type="number" name="apartamento" class="inputText" id="apartamento" required>
    <p>Forma de Pagamento: </p>
    <input type="radio" id="dinheiro" name="pagamento" value="DINHEIRO" required>
    <label class="horizontalRadioLabel" for="dinheiro">Dinheiro</label>
    <input type="radio" id="Cartao" name="pagamento" value="CARTAO">
    <label class="horizontalRadioLabel" for="Cartao">Cartão</label>
    <input type="radio" id="pix" name="pagamento" value="PIX">
    <label class="horizontalRadioLabel" for="pix">Pix</label>
    <p id="invalidFields"></p>
    <div class="button makeOrderButton">
      <a onclick="makeOrder()">Fazer Pedido</a>
    </div>
  </form>
</div>