<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link type="text/css" href="/css/loginPage.css" rel="stylesheet" />
  <title>Cardápio Mariazinha</title>
</head>

<body>
<div class="navbar">
  <a href="/" class="backButton"><i class="fa-solid fa-arrow-left"></i></a>
</div>
<img src="/assets/images/logo-Mariazinha.png" alt="Logo Mariazzinha">

<form action="/admin" method="post">
  <div class="inputText">
    <i class="fa-solid fa-user"></i>
    <input type="text" name="user" id="user" placeholder="Usuário">
  </div>
  <div class="inputText">
    <i class="fa-solid fa-lock"></i>    
    <input type="password" name="password" id="password" placeholder="Senha">
  </div>
  <button type="submit" class="button">Log in</button>
</form>
<script src="https://kit.fontawesome.com/cb8a346264.js" crossorigin="anonymous"></script>
</body>

<script src=""></script>
</html>